################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nanoFramework
/Misc
/nfCopiesToBeReconciled
/sqlite
/Samples
/PREV_nf-interpreter
/nf-Visual-Studio-extension - Copy
/nf-Visual-Studio-extension
/nf-interpreter
/nanoFrameworkStudio
/nanoFrameworking
/.gitattributes
/nanoFrameworkPF/.vs
/nanoFrameworkPF/Examples/Hello_nanoFramework/obj/Debug
/nanoFrameworkPF/Examples/Hello_nanoFramework/bin/Debug
/nanoFrameworkPF/Examples/NFApp1/obj/Debug
/nanoFrameworkPF/Examples/NFApp1/bin/Debug
/nanoFrameworkPF/Examples/nf_BouncingBalls/obj/Debug
/nanoFrameworkPF/Examples/nf_BouncingBalls/bin/Debug
/nanoFrameworkPF/Examples/nf_Colours/obj/Debug
/nanoFrameworkPF/Examples/nf_Colours/bin/Debug
/nanoFrameworkPF/Examples/nf_Fonts/obj/Debug
/nanoFrameworkPF/Examples/nf_Fonts/bin/Debug
/nanoFrameworkPF/Examples/nf_Image/obj
/nanoFrameworkPF/Examples/nf_Image/bin/Release
/nanoFrameworkPF/Examples/nf_Image/bin/Debug
/nanoFrameworkPF/Examples/nf_Image/bin
/nanoFrameworkPF/obj/Debug
/nanoFrameworkPF/Library/nanoFrameworkGraphicsLibrary/obj
/nanoFrameworkPF/Library/nanoFrameworkGraphicsLibrary/bin/Debug
/nanoFrameworkPF/Library/nanoGraphicsPF/bin/Debug
/nanoFrameworkPF/Library/nanoGraphicsPF/obj/Debug
/nanoFrameworkPF/Library/nanoGraphicsPrimitives/bin/Debug
/nanoFrameworkPF/Library/nanoGraphicsPrimitives/obj
/nanoFrameworkPF/Library/nanoGraphicsTouchScreen/bin/Debug
/nanoFrameworkPF/Library/nanoGraphicsTouchScreen/obj
/nanoFrameworkPF/Examples/nf_LineDrawing/bin
/nanoFrameworkPF/Examples/nf_LineDrawing/obj/Debug
/nanoFrameworkPF/Examples/nf_MatrixRain/bin/Debug
/nanoFrameworkPF/Examples/nf_MatrixRain/obj/Debug
/nanoFrameworkPF/Examples/nf_PagedText/bin/Debug
/nanoFrameworkPF/Examples/nf_PagedText/obj/Debug
/nanoFrameworkPF/Examples/nf_Puzzle/obj/Debug
/nanoFrameworkPF/Examples/nf_RotateImage/bin/Debug
/nanoFrameworkPF/Examples/nf_RotateImage/obj/Debug
/nanoFrameworkPF/Examples/nf_Shapes/bin/Debug
/nanoFrameworkPF/Examples/nf_Shapes/obj/Debug
/nanoFrameworkPF/Examples/nf_SimpleTouch2/bin/Debug
/nanoFrameworkPF/Examples/nf_SimpleTouch2/obj/Debug
/nanoFrameworkPF/Examples/nf_StylusCapture/bin/Debug
/nanoFrameworkPF/Examples/nf_StylusCapture/obj/Debug
/nanoFrameworkPF/Examples/nf_TouchScreen/bin/Debug
/nanoFrameworkPF/Examples/nf_TouchScreen/obj/Debug
/nanoFrameworkPF/Examples/nf_WpfDemoApplication/bin/Debug
/nanoFrameworkPF/Examples/nf_WpfDemoApplication/obj/Debug
/nanoFrameworkPF/Examples/WPF_Example/bin/Debug
/nanoFrameworkPF/Examples/WPF_Example/obj/Debug
/nanoFramework.UI.Examples/.vs
/nanoFramework.UI.Examples/Examples/Hello_nanoFramework/bin/Debug
/nanoFramework.UI.Examples/Examples/Hello_nanoFramework/obj/Debug
/nanoFramework.UI.Examples/Examples/NFApp1/bin/Debug
/nanoFramework.UI.Examples/Examples/NFApp1/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_BouncingBalls/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_BouncingBalls/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_Colours/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_Colours/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_Fonts/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_Fonts/obj/Debug/.NETnanoFramework,Version=v1.0.AssemblyAttributes.cs
/nanoFramework.UI.Examples/Examples/nf_Fonts/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_Image/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_Image/bin/Release
/nanoFramework.UI.Examples/Examples/nf_Image/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_Image/obj/Release
/nanoFramework.UI.Examples/Examples/nf_LineDrawing/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_LineDrawing/bin
/nanoFramework.UI.Examples/Examples/nf_LineDrawing/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_MatrixRain/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_MatrixRain/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_PagedText/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_PagedText/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_PhysicsBalls/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_PhysicsBalls/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_Puzzle/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_RotateImage/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_Shapes/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_Shapes/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_SimpleTouch2/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_SimpleTouch2/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_StylusCapture/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_StylusCapture/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_TouchScreen/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_TouchScreen/obj/Debug
/nanoFramework.UI.Examples/Examples/nf_WpfDemoApplication/bin/Debug
/nanoFramework.UI.Examples/Examples/nf_WpfDemoApplication/obj/Debug
/nanoFramework.UI.Examples/Examples/WPF_Example/bin/Debug
/nanoFramework.UI.Examples/Examples/WPF_Example/obj/Debug
/nanoFramework.UI.Examples/Library/nanoFramework.UI.Graphics/obj
/nanoFramework.UI.Examples/Library/nanoFramework.UI.PresentationFramework/bin/Debug
/nanoFramework.UI.Examples/Library/nanoFramework.UI.TouchScreen/bin/Debug
/nanoFramework.UI.Examples/Library/nanoFramework.UI.TouchScreen/obj
/nanoFramework.UI.Examples/Library/nanoFrameworkGraphicsLibrary/bin/Debug
/nanoFramework.UI.Examples/obj/Debug
